<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h2>Thank you for your order!</h2>
    <h4> Email: <%= @order.email %> </h4>

    <table class="table table-bordered">
      <tbody>
        <% @order.line_items.each do |item| %>
            <%= render 'lineitem', product: item.product, quantity: item[:quantity].to_i %>
        <% end %>
      </tbody>

      <tfoot>
          <tr>
            <th colspan="3">
              TOTAL:
            </th>
            <th>
              <h5> Total: <%= @order.total %> </h5>
            </th>
          </tr>
        </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
